<app-home></app-home>

<hr>
<h3 class="my-5 text-center">Make a Reservation</h3>
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Check-in Date: </label>
      <input class="form-control" type="date" formControlName="checkInDate">
      <small *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched"
             class="text-danger">Check in
        date is required.
      </small>
    </div>
    <div class="col">
      <label class="form-label">Check-out Date: </label>
      <input class="form-control" type="date" formControlName="checkOutDate">
      <small *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched"
             class="text-danger">Check out
        date is required.
      </small>
    </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Guest Name: </label>
    <input class="form-control" type="text" formControlName="guestName">
    <small *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched"
           class="text-danger">Guest Name is
      required.
    </small>
  </div>
  <div class="mb-3">
    <label class="form-label">Guest Email: </label>
    <input class="form-control" type="text" formControlName="guestEmail">
    <small *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched"
           class="text-danger">Guest Email is
      required.
    </small>
  </div>
  <div class="mb-3">
    <label class="form-label">Room Number: </label>
    <input class="form-control" type="number" formControlName="roomNumber">
    <small *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched"
           class="text-danger">Room number is
      required.
    </small>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>
